body {
    background: rgb(188, 171, 171);
    font-family: "Bitter", serif;}

h1 {
    color: white;
    font-weight: bold;
}

.hero {
    background: #D3C2C2;
}

.project-image {
    max-width: 75%;
    height: auto;
    margin: 0 auto;
}

h2 {
    font-weight: bold;
    font-size: larger;
}

p {
    font-size: medium;
}

footer {
    text-align: center;
    color: white;
    font-size: small;
    font-family: "Bitter", serif;
}